body {
    font-family: "Gill", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1 {
    color: #6261E2;
}

p { 
    color: gray;
}

.header {
    width: 80%;
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
    height: 100px;
    width: 100px;
}

#main{
    text-align: center;
}



.card_with_question {
    border: none;
    background-color: #ebecff;
    color: black;
    width: 200px;
    height: auto;
    padding: 16px;
    margin: 3px;
    border-radius: 14px;
    font-size: 14px;
}
.card_with_question:hover {
    background-color: #caccf8;
    cursor: pointer;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.smart-search-block {
    display: flex;
    flex-direction: column;
}

.smart_search_text {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    margin-left: 4px;
}

#search_img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.search_button_block{
    display: flex;
    justify-content: center;
}

.search_button{
    border: none;
    border-radius: 13px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
}

.search_button:hover{
    background-color: #acacac;
    cursor: pointer;
}
