<!--Файл кода для разметки главной страницы сайта-->
<!DOCTYPE html> <!-- инициализация HTML-->

<html><!--Начало разметки (вида сайта)-->

<head> <!--Голова кода-->
    <meta charset="utf-8"> <!--Тип кодировки HTML документа-->
    <title>Рувики</title> <!--Текст который отображаемы текст вместо цифр вверху-->
    <link rel="stylesheet" href="../static/styles.css"><!--Файлы в которых стили-->
    <link rel="stylesheet" href="{{ url_for('static', filename='articles.css' ) }}">

</head>

<body> <!--Тело кода-->
    <div id="search_new">

        <div class="header"> <!--Верхняя часть сайта(div это 1 блок кода их очень много)-->
            <div class="header_menu"><!--Создание класса-->
                <a href="#"><!--# обозначае переход на эту же страницу-->
                    <img src="../static/logo.svg" alt="Лого РУВИКИ" id="ruwiki_icon" /><!--Добавление картинки-->
                </a><!--Нужно бля добавления кртинки-->
                <div id="header_buttons"><!--Обозначение ID-->
                    <a class="button_create_article" href="{{ url_for('add_article') }}" >Создать статью</a>
                    <button class="button_login ">Войти</button><!--Создание кнопки-->
                    <button class="button_change_font">Aа</button>
                </div>
            </div>
            <div class="centre_text" id="main">
                <img src="../static/lupa.svg" alt="Лупа РУВИКИ" class="img" />

                <h1>Ищите по-новому</h1><!--h1 загаловок страницы(h используеся только 1 раз, есть исключения)-->
                <p id="question"><!--Обозначение параграфа-->
                    Спрашивайте то, что хотите найти в РУВИКИ.
                    <br><!--переход на новую строку-->
                    Умный поиск поможет!
                </p>
            </div>
            <div class="search_field">
                <input type="text" id="search_text" size="80"
                    placeholder="Найти ответ на вопрос"><!--Поле для ввода текста-->
            </div>
            <div class="smart-search-block">
                <div class="smart_search_text">
                    Умный поиск поможет разобраться
                </div>
                <div class="cards">
                    <button class="card_with_question"
                        onclick="alert('Привет!')"><!--onclick вывод текста при нажатии на кнопку-->
                        Почему электромобили массово появились только сейчас?
                    </button>
                    <button class="card_with_question">
                        Какие открытия привели к развитию современных технологий?
                    </button>
                    <button class="card_with_question">
                        Чем отличаются высотки в Москве от небоскрёбов Нью Йорка?
                    </button>
                </div>
                <div class="search_button_block">
                    <button class="search_button">
                        <img src="../static/search.svg" alt="Иконка поиска" id="search_img" />
                        Поиск без нейросети
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="head_for_you">
        <div class="article_table">
            <h2 class="article_table_name">Список статей</h2>
            <div class="article_table">
                {% for group in groups %}
                <div class="article_table_row">
                    {% for article in group %}
                    <div class="article_card">
                        <a href="{{ url_for('article', name=article.title)}}">
                            <h3>{{ article.title }}</h3>
                        </a>
                    </div>
                    {% endfor%}
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
        </div>
    </div>

    

</body>

</html>